{{page-title "Ex1"}}

<div class="card">
  <div class="card-header bg-primary text-light">Ex 1 : Note application</div>
  <div class="card-body">
    <Textarea class="form-control mb-3" maxlength="100" @value={{this.content}} @input={{this.update}} />
    <button {{action "clear"}} class="btn btn-primary">
      Nettoyer
    </button>
    <button {{action "save"}} class="btn btn-primary">
      Sauvegarder
    </button>
    <br><br>
    <div class="alert alert-info">
      Il reste {{this.size}} caractères disponibles.
    </div>
    <div class="{{this.style}}">
      {{this.info}}
    </div>
  </div>
</div>

{{outlet}}