{{page-title "Ex2"}}
<ul>
  {{#each @model.services as |service|}}
    <li  {{action "toggleActive" service}}>{{service.name}} {{service.price}}</li>
  {{/each}}
</ul>
{{ plural @model.countActive
          'Aucun service sélectionné'
          'service sélectionné'
          'services sélectionnés'
}}
{{outlet}}